<div class="container">
  <h1>Lesson Data</h1>
  <div class="month-pair">
    <div class="month-this">
      <h3>This Month</h3>
    </div>
    <div class="month-next">
      <h3>Next Month</h3>
    </div>
  </div>
  <%= button_to 'Scrape Data', scrape_path, class: "btn btn-light mt-3" %>
</div>
<%# <%= button_to 'Scrape Data', scrape_lessons_path, class: "btn btn-dark mt-3", method: :post %> %>
